/* Responsive de la pagina */
@media screen and (max-width: 800px) {
  .redes {
    display: none;
  }

  nav {
    display: none;
  }

  nav.responsive {
    display: block;
    background-color: rgba(0, 0, 0, 0.8);
    width: 100%;
    position: absolute;
    top: 48px;
    left: 0;
    padding: 10px 0;

    & ul {
      display: block !important;
      text-align: center;

      & li {
        margin: 5px 0;
      }
    }
  }

  #icono-nav {
    display: block;
    color: #fff;
  }

  #inicio .contenido .presentacion h2 {
    font-size: 40px;
  }

  #sobremi {
    padding: 50px 0;
    display: block;

    & .contenedor-foto {
      max-width: 200px;
      margin: auto;

      & img {
        padding: 8px;
      }
    }

    & .sobremi .titulo-seccion {
      text-align: center;
    }

    & .sobremi h2 {
      font-size: 25px;
      text-align: center;
    }
  }

  #servicios {
    padding: 50px 15px;

    & .fila {
      display: block;

      & .servicio {
        margin: 10px auto;
      }
    }
  }

  .contenedor-skills {
    padding: 50px 20px;
  }

  #portofolio {
    padding: 50px 0;

    & .fila {
      display: block;

      & .proyecto {
        margin: 10px auto;
      }
    }
  }

  #contacto {
    padding: 50px 15px;

    & .contenedor-form .mitad {
      margin-bottom: 15px;
      display: block;

      & input {
        width: 100%;
        margin-bottom: 15px;
      }
    }
  }
}
